@import "../../styles/utils";
@import "../../styles/variables";

.jumbotron {
  background-image: url("../../assets//images//jumotron-bg.png");
  background-size: 100vw;
  background-position-x: center;
  background-position-y: -60px;
  @include for-mobile {
    background-size: 200vw;
    background-repeat: no-repeat;
    background-position-x: left;
  }
  .sub {
    height: 500px;
    background: linear-gradient(80deg, $green, transparent);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    h1 {
      font-size: 3.5rem;
      font-weight: 600;
    }
    p {
      width: 50%;
      font-size: 1rem;
      line-height: 1.5;
      margin: 1em 0;
      color: $white;
    }
    button {
      border-radius: 8px;
      background-color: $primary;
      padding: 0.5em 1em;
      font-size: 1rem;
      display: flex;
      align-items: center;
      gap: 1em;
      color: $white;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        background-color: darken($primary, 10%);
      }
      img {
        width: 40px;
      }
    }
    @include for-tablet {
      height: 350px;
      h1 {
        font-size: 2.5rem;
      }
      p {
        width: 65%;
      }
      button {
        border-radius: 5px;
        img {
          width: 30px;
        }
      }
    }
    @include for-mobile {
      height: 400px;
      h1 {
        font-size: 2rem;
      }
      p {
        width: 100%;
        font-size: 0.9rem;
      }
      button {
        border-radius: 5px;
        font-size: 0.9rem;
        img {
          width: 25px;
        }
      }
    }
  }
}
