@import "../../styles/utils";
@import "../../styles/variables";

footer {
  background-color: $light-bg;
  .footer-top {
    padding: 3em 0;
    .con {
      display: flex;
      @include for-mobile {
        flex-direction: column;
      }
      .left {
        width: 50%;
        @include for-mobile {
          width: 100%;
          margin-bottom: 3em;
        }
        .logo {
          width: 150px;
          margin-bottom: 1em;
          @include for-tablet {
            width: 120px;
          }
        }
        p {
          color: $text;
          margin-bottom: 1em;
          width: 80%;
          @include for-mobile {
            width: 100%;
          }
        }
        .social-icons {
          display: flex;
          gap: 1em;
          .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            cursor: pointer;
            background-color: $primary;
            border-radius: 50%;
            font-size: 1rem;
            color: $white;
            &:hover {
              background-color: darken($primary, 10%);
            }
            @include for-tablet {
              width: 30px;
              height: 30px;
              font-size: 0.9rem;
            }
          }
        }
      }
      .right {
        width: 50%;
        display: flex;
        @include for-mobile {
          width: 100%;
          flex-direction: column;
          gap: 3em;
        }
        .sub {
          width: 50%;
          @include for-mobile {
            width: 100%;
          }
          h6 {
            font-size: 1.1rem;
            color: $text;
            font-weight: 600;
            margin-bottom: 2em;
            @include for-mobile {
              margin-bottom: 1em;
            }
          }
          ul {
            display: flex;
            flex-direction: column;
            gap: 1em;
            a {
              color: $text;
              cursor: pointer;
              &:hover {
                color: $primary;
              }
            }
          }
          .contact {
            margin-bottom: 1em;
            display: flex;
            gap: 1em;
            align-items: center;
            .icon {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 30px;
              height: 30px;
              background-color: $primary;
              border-radius: 50%;
              font-size: 0.7rem;
              color: $white;
            }
          }
        }
      }
    }
  }
  .footer-bottom {
    background-color: darken($light-bg, 10%);
    .con {
      padding: 1em 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include for-mobile {
        flex-direction: column;
        gap: 1em;
        justify-content: flex-start;
        align-items: flex-start;
      }
      p {
        font-size: 1rem;
        color: $text;
        @include for-tablet {
          font-size: 0.9rem;
        }
        span {
          color: $primary;
        }
      }

      a {
        font-size: 1rem;
        color: $text;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
        @include for-mobile {
          font-size: 12px;
          display: block;
        }
      }
    }
  }
}
